#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

.site-layout .site-layout-background {
  background: #fff;
}

.logo {
  height: 4rem;
  padding: 1em 0 2em 0;
  display: flex;
  justify-content: center;

  font-size: 1.5em;
  
  background-color: darkorange;
}

.pageHeader {
  display: flex;
  padding: 1.5rem 0 0 1rem;
  background-color: lightgray !important;
}

.headerTitle {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: large;
  font-style: italic;
  margin-left: 1rem;
  margin-bottom: 1.7rem;
}

.tableAddNewNote {
  margin-bottom: 1rem;
}

.departmentName:hover {
  border: 1px dashed #1890ff;
}

.tableFooter {
  background-color: #fafafa;
  padding: 1rem;
}